<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
  <head>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/home/home.css' %}">
    <title>Welcome! '}</title>
  </head>
  <body class="d-flex h-100 text-center text-bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0 text_C">Dp_asHers</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="">Home</a>
        <a class="nav-link fw-bold py-1 px-0" href="Coming_soon">Profile</a>
        <a class="nav-link fw-bold py-1 px-0 logout" href="{% url 'logout' %}">Logout</a>
      </nav>
    </div>
  </header>
  <main class="px-3">
    <h1 class="text_C">Discord clone.</h1>
    <p class="lead text_C">You can start this discord on server, pc and other machine, 
        because this clone created on Python or "funny snake" 
        UwU, you can use a Hamachi,
         Radmin vpn and other to talk with friends.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
    </p>
  </main>

  <footer class="mt-auto text-white-50">
    <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
  </footer>
</div>
</body>
</html>