<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/home/style.css' %}">
    <title>Registration :}</title>
</head>
<body>
        <section class="h-100">
            <div class="container h-100">
                <div class="row justify-content-sm-center h-100">
                    <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                        <div class="text-center my-5">
                            <img src="/static/favicon.ico" alt="logo" width="100">
                        </div>
                        <div class="card shadow-lg">
                            <div class="card-body p-5">
                                <h1 class="fs-4 card-title fw-bold mb-4 body-col">Login</h1>
                                <form method="POST" action="{% url 'register' %}" class="needs-validation">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label class="mb-2 text-muted" for="email">E-Mail Address</label>
                                        <input id="email" type="email" class="form-control" name="email" value="" required autofocus>
                                        <div class="invalid-feedback">
                                            Email is invalid
                                        </div>
                                    </div>
    
                                    <div class="mb-3">
                                        <div class="mb-2 w-100">
                                            <label class="text-muted" for="password">Password</label>
                                        </div>
                                        <input id="password" type="password" class="form-control" name="password" required>
                                        <div class="invalid-feedback">
                                            Password is required
                                        </div>
                                    </div>
    
                                    <div class="d-flex align-items-center">
                                        <div class="sign_up_psc">
                                            <label for="remember" class="body-col">O_o WhAt?</label>
                                        </div>
                                        <button type="submit" class="btn btn-primary ms-auto">
                                            Register
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer py-3 border-0">
                                <div class="text-center body-col">
                                    I have an account! <a href="{% url 'sign_in' %}">Login</a>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-5 text-muted">
                            Copyright &copy; 2017-2021 &mdash; dp_asherS
                        </div>
                    </div>
                </div>
            </div>
        </section>
</body>
</html>